html, body {
	height: 100%;
}
$orange: #ff6600;
.page_tools {
	padding: 20px;
	border: 1px dotted #cecece;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.splash {
	margin-top: 80px;
	background-color:rgba(0,0,0,0.5);
	color: #fff;
	.panel {
		background-color:rgba(0,0,0,0.8);
	}
	h1, p {
		color: #fff;
	}
}

.iphone {
	background: url("../../img/backgrounds/phone.png");
	width: 820px;
	height:1006px;
	padding-top: 173px;
	padding-left: 145px;
	background-size: 100%;
}

.start {
	.orange_back {
		background-color: lighten($orange, 15%);
		color: #fff;
		padding-top:10px;
		padding-bottom:10px;
		font-size: 20px;
	}
	.large-12 {
		&.columns {
			padding: 0px;
			padding-top:10px;
			padding-bottom:10px;
			font-size: 20px;
		}
	}
}
.columns {
	.orange_back {
		background-color: lighten($orange, 15%);
		color: #fff;
		padding-top:10px;
		padding-bottom:10px;
		font-size: 20px;
		a {
			color: #fff;
		}
	}
}
