<div class="row text-center start" data-ng-controller="GamesController" style="padding-top: 50px;">
    <h1 class="text-center"><img src="/img/gameIt.png" style="width: 200px;"/></h1>
    <p><br/></p>
    <div class="large-12 columns orange_back">
		My Games
    </div>
    <p><br/></p><p><br/></p><p><br/></p>
	<div class="small-2 columns">&nbsp;</div>
	<a href="#"><div class="small-8 columns orange_back">Find a Game</div></a>
	<div class="small-2 columns">&nbsp;</div><p><br/></p>
	<div class="small-2 columns">&nbsp;</div>
	<a href="#"><div class="small-8 large-offset-2 columns orange_back">Create a Game</div></a>
	<div class="small-2 columns">&nbsp;</div>
</div>