{% extends 'layouts/layout.html' %}
{% block content %}
<img src="img/backgrounds/blurred_lines.jpeg" id="bg"/>
<div class="row splash">
    <div class="large-12 columns">
      <div class="panel">
        <h1 class="text-center">GameIt</h1>
        <p>
        	We bring active people together to organize, discover and join a friendly game of their favorite sport. Search by location, game &amp; skill level, see who else is playing, let others know you're in. Have some free time? Just gameIt!
        </p>
        
        <div class="row">
          <div class="large-12 columns text-center">
            <a href="games/search" class="button large">Get Started</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}