{% extends 'layouts/layout.html' %}
{% block content %}
{% include 'includes/header.html' %}
<div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1 class="text-center">GameIt</h1>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies neque id dictum rutrum. Pellentesque vitae diam enim. Etiam id interdum augue. In vulputate turpis aliquet nibh sollicitudin, nec bibendum dolor placerat. Donec ligula nisi, pretium ac mi ut, luctus pharetra dolor. 
        </p>
        
        <div class="row">
          <div class="large-12 columns text-center">
            <a href="games/search" class="button large">Get Started</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}