{% extends 'layouts/layout.html' %}
{% block content %}
<div class="row">
    <div class="large-6 columns" style="padding-top: 100px;">
        <h1 class="text-center"><img src="/img/gameIt.png"/></h1>
        <p>
        	We bring active people together to organize, discover and join a friendly game of their favorite sport. Search by location, game &amp; skill level, see who else is playing, let others know you're in. Have some free time? Just gameIt!
        </p>
        
        <div class="row">
          <div class="large-12 columns text-center">
            <div class="large-8 columns"><input type="email" style="height:40px;" /></div>
            <a href="/"><div class="large-4 columns orange_back">Sign Up</div></a>
          </div>
        </div>
    </div>
    <div class="large-6 columns">
      <div class="iphone">
        <iframe src="/games#!/game/start" width="355px" height="530" style="overflow:hidden;" frameBorder="0"></iframe>
        <!-- <iframe src="http://localhost:3000/games/map" width="355px" height="530" style="overflow:hidden;" frameBorder="0"></iframe> -->
      </div>
    </div>
</div>
{% endblock %}